* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

header img {
  padding: 5px;
}

header menu {
  display: flex;
  height: 100%;
  margin: 0px;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

header menu a {
  width: 60px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}
header menu a:hover {
  background-color: gray;
  color: white;
  border-radius: 2px;
}

header button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
